body{
	background: #494A5F;
	color: #D5D6E2;
	font-weight: 500;
	font-size: 1.05em;
	font-family: "Microsoft YaHei","����","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
a{color: rgb(54, 54, 54);outline: none;text-decoration: none;}
a:hover,a:focus{color:#74777b;text-decoration: none;}

.tab{
    margin-top: 30px;
}
.tab .nav-tabs{
    border:none;
    border-bottom: 1px solid #e4e4e4;
}
.nav-tabs li a{
    padding: 15px 40px;
    border:1px solid #ededed;
    border-top: 2px solid #ededed;
    border-right: 0px none;
    background: rgb(54, 54, 54);
    color:#fff;
    border-radius: 0px;
    margin-right: 0px;
    font-weight: bold;
    transition: all 0.3s ease-in 0s;
}
.nav-tabs li a:hover{
    border-bottom-color: #ededed;
    border-right: 0px none;
    background: rgb(54, 54, 54);
    color: #fff;
}
.nav-tabs li a i{
    display: inline-block;
    text-align: center;
    margin-right:10px;
}
.nav-tabs li:last-child{
    border-right:1px solid #ededed;
}
.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover{
    border-top: 3px solid rgb(54, 54, 54);
    border-right: 1px solid #d3d3d3;
    margin-top: -15px;
    color: #444;
    padding: 22px 40px;
}
.tab .tab-content{
    padding: 20px;
    line-height: 22px;
    box-shadow:0px 1px 0px #808080;
}
.tab .tab-content h3{
    margin-top: 0;
}
@media only screen and (max-width: 767px){
    .nav-tabs li{
        width:100%;
        margin-bottom: 10px;
    }
    .nav-tabs li a{
        padding: 15px;
    }
    .nav-tabs li.active a,
    .nav-tabs li.active a:focus,
    .nav-tabs li.active a:hover{
        padding: 15px;
        margin-top: 0;
    }
}

html,body {
    color: #333;
    margin: 0;
    height: 100%;
    font-family: "Myriad Set Pro","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: 0;
}

body {
    background: #545b79;
    color: #666;
    font: 12px/150% Arial,Verdana, "microsoft yahei";
}

html, body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, fieldset, form, input, legend, textarea, th, td {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #08acee;
}

button {
    outline: 0;
}

img {
    border: 0;
}

button,input,optgroup,select,textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
}

li {
    list-style: none;
}

a {
    color: #666;
}

a:hover {
    color: #eee;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
}

/* 必要布局样式css */
body{
    background: rgb(73, 73, 73)  ;
    background-size: cover;
    overflow:hidden;
    height: 100%;
}
.set-content{
    height: 100%;   
}

.set-title {
    width: 100%;
    height: 42px;
    display: flex;
    z-index: 9999;
}

.set-title ul li{
    float:left;
    display: block;
    text-align: center;
    height: 100%;
    line-height: 42px;
    color: #fff;
    position: static;
    background: rgba(255,255,255,.1);
    box-sizing: border-box;
    border-right: solid 1px rgb(73, 73, 73);
    cursor: pointer;
    width: 97px;
    cursor:pointer;
}

.set-title ul .on{
    background: rgb(54, 54, 54);
}

.set-middle{
    background: -webkit-linear-gradient(top,rgb(54, 54, 54) 0,rgb(54, 54, 54) 70%,rgb(54, 54, 54) 100%);
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 15px 17px 0 19px;
}

.set-middle-item{

}

.set-middle-image img{
    display: block;
    float: left;
    cursor: pointer;
}

.set-middle-list ul li{
    display: flex;
    color: #fff;
    font-size: 13px;
    height: 43px;
    line-height: 43px;
    border-bottom: solid 1px rgb(54, 54, 54);
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 5px 0 2px;
}

.set-ali{
    flex: 1;
}
.set-java{
    flex: 1.8;
}

.set-salary{
    flex: 1;
}

.set-more{
    text-align: right;
    flex: 1;
}

.set-more:after {
    content: "";
    display: inline-block;
    height: 8px;
    width: 8px;
    border-right: solid 1px #fff;
    border-bottom: solid 1px #fff;
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    margin-left: 2px;
}

.normal_text
{
    color: white;
}

#autoLevel
{
    visibility: hidden;
}

#customerLevel
{
    visibility: visible;
}

.wrapper {width: 100%;height:40px}
#input { color: white}